$spacing-xs: 0.25rem !default; // 4px
$spacing-s: 0.5rem !default; // 8px
$spacing-m: 1rem !default; // 16px (base)
$spacing-ml: 1.5rem !default; // 24px
$spacing-l: 2rem !default; // 32px
$spacing-xl: 3rem !default; // 48px
$spacing-xxl: 4rem !default; // 64px
$spacing-xxxl: 4.5rem !default; // 72px